extends layout

block additional-styling
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css')
        link(rel='stylesheet' href='/stylesheets/home.css')
block content
        header 
                h1 GitBook
        .container
                .main-content
                        p
                                | Welcome to Gitbook!
                                | If you like our site, please donate to our sneck fund
                .sidebar
                        .widget 
                                h1 image
                                p       
                                        |idk put a picture here or smth
        footer
                p 
                | By Ethan Farkas, Jasraj Singh, Kenneth Jiang, Luke Yoon