extends layout

block additional-styling
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css')
    link(rel='stylesheet' href='/stylesheets/add-entry.css')

block content
    div.card.container: div.card-body
        h3 Login
        hr
        form(method='post' action='')
            div.form-row
                div.form-group
                    label(for='username') Username:
                    input.form-control(type='text' id='username' name='username' required="yes")
                div.form-group
                    label(for='userPassword') Password
                    input.form-control(type='password' id='userPassword' rows='3' name='userPassword' required="yes")
                
            div.action-group
                button.btn.btn-primary(type='submit') Login
                button.btn.btn-primary(type='reset') Clear

            a.btn.btn-primary(href='create-login') Create Account


block additional-libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js')