extends layout

block additional-styling
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css')
    link(rel='stylesheet' href='/stylesheets/create-account.css')

block content
    div.card.container: div.card-body
        h3 #{name}'s Profile
        
        form(method='post' action='' enctype='multipart/form-data')
            div.form-row
                div.col-sm-4#image-container
                    img(src='images.png')

                div.col-sm-8#text-container 
                    div.form-group
                        label(for='email') Email: asdfasd 
                        br
                        label(for='number') Phone Number: placeholder
                        br
                        label(for='tags') Interests:
                        input.form-control(type='text' id='tags' data-role='tagsinput' name='tags[]' readonly)
                        br
                        br
            
                    div.form-group
                        
                    div.form-group
                        label(for='comments') Comments: 
                        textarea.form-control(id='comments' rows='3' name='comments')
                    div.form-row
                

        



block additional-libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js')
    script(src='/javascripts/add-entry.js')