body {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.label-info {
    background-color: #5bc0de;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.bootstrap-tagsinput {
    padding-top: 2px;
    padding-bottom: 6px;
    width: 100%;
    border-radius: 1rem;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

#image-container {
    padding: 0;
}

.dropZoneOverlay:focus{
    outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}

.dropZoneContainer {
    height: 100%;
    width: 100%;
    position: relative;
}
.dropZoneOverlay, .FileUpload {
    width: 100%;
    height: 100%;
}

.empty:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.dropZoneOverlay:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.dropZoneOverlay {
    outline: 2px dashed #92b0b3;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    color: #2ea591;
    position: absolute;
    top: 0;
    /*outline-offset: -10px;*/
    padding: 120px 0 90px 0;
    text-align: center !important;
    text-transform: capitalize;
    margin: 0;
    width: 100% !important;
}

.FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}

.dropZoneOverlay > p {
    margin: 0;
}

.form-group {
    width: 100%;
}

.action-group {
    float:right;
}

.container{
    background: #fff;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 70%;
}
.container .form-control{
    border-radius:1rem;
}

.container h3{
    margin-bottom: 10px;
    text-align: center;
    color: #0062cc;
}

.container button {
    margin-left: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.filled {
    outline-style: solid;
    pointer-events: none;
}
.filled p{
    display: none;
}

#text-container {
    padding-left: 20px;
}

.FileUpload {
    position: absolute;
}

h1 {
    text-align: center;
    color: lightgreen;
}