body {
  background-color: rgb(12, 92, 197);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.filter-area {
  background-color: rgb(0, 61, 192);
  width: 900px;
  margin: 10px;
}

.filter {
  display: block;
  width: 100%;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  color: white;
}

#tabs {
  padding: 10px;
}

.tabs {
  list-style-type: none;
}

.tab {
  display:inline;
}

.link {
  background-color: rgb(116, 199, 255);
  margin: 3px;
  border-radius: 5px 12px 5px;
}

.project {
  background-color: rgb(255, 255, 255);
  width: 900px;
  margin: 10px;
}

.left {
  float: left;
  width: 100px;
  padding: 10px;
}

.right {
  float: left;
  width: 700px;
  padding: 10px;
  margin: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.selected {
  background: rgb(235, 251, 255);
}

.pic {
  width: 100px;
  height: 100px;
}

.name {
  text-align: center;
}

.footer {
  background-color: white;
}

.footer-left {
  float: left;
  width: 600px;
}

.footer-right {
  float: left;
  width: 200px;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.tags {
  background-color: #858585;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 4px 8px;
  margin: 0px 6px;
  border-radius: 12px;
  font-size: 10px;
}

.date {
  color: #d8d8d8;
  text-align: right;
}