body {
  background-color: rgb(12, 92, 197);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.profile {
  background-color: rgb(255, 255, 255);
  width: 900px;
  margin: 10px;
}

.profile .left {
  float: left;
  width: 200px;
  padding: 10px;
}

.profile .right {
  float: left;
  width: 600px;
  padding: 10px;
  margin: 10px;
}

.profile .interests {
  float: left;
  width: 800px;
  padding: 10px;
  margin: 10px;
}

.img {
  width: 200px;
  height: 200px;
}

.tags {
  background-color: #858585;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 4px 8px;
  margin: 0px 6px;
  border-radius: 12px;
  font-size: 10px;
  display: inline-block;
}

.project {
  background-color: rgb(255, 255, 255);
  width: 900px;
  margin: 10px;
}

.left {
  float: left;
  width: 100px;
  padding: 10px;
}

.right {
  float: left;
  width: 700px;
  padding: 10px;
  margin: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.selected {
  background: rgb(235, 251, 255);
}

.pic {
  width: 100px;
  height: 100px;
}

.name {
  text-align: center;
}

.footer {
  background-color: white;
}

.footer-left {
  float: left;
  width: 600px;
}

.footer-right {
  float: left;
  width: 200px;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.tags {
  background-color: #858585;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 4px 8px;
  margin: 0px 6px;
  border-radius: 12px;
  font-size: 10px;
}

.date {
  color: #d8d8d8;
  text-align: right;
}

.edit {
  margin: 0px 6px;
  background-color: transparent;
  border: none;
  outline:none;
  cursor:pointer;
}